body{
    background-color: rgb(49, 44, 44);
    align-items: center;
    width: 80%;
}
#canvas{
    
    border: solid 2px black;
    background-color: rgb(243, 241, 239);
    border-radius: 10px;
}